<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.starter.biruk.ezymusic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ezy_music_player"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.mainView.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.nowplayingView.NowPlayingActivity" />
        <activity android:name=".view.albumsView.SelectedAlbumActivity" />
        <activity android:name=".view.artistsView.SelectedArtistActivity" />

        <service
            android:name=".service.PlayBackService"
            android:enabled="true"
            android:exported="false" />
        <service android:name=".service.ImageDownloaderService" />

        <activity
            android:name=".view.searchView.SearchLibraryActivity"
            android:parentActivityName=".view.mainView.MainActivity"></activity>
    </application>

</manifest>